@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@{
    ViewBag.Title = "Event RSVP";
}

<h2>List of Booked Event</h2>
<p>Booked Event Here!</p>

<h2>Ongoing Event</h2>
<p>Ongoing Event Here!</p>